/* This file will hold styles that are loaded using the same media query as the wide grid. */
.region{
padding-top: 0px;
padding-bottom: 0px;
}

aside.advanced-layout-force-right{
	float: right;
}

/*SHOW/HIDE ELEMENTS ON MOBILE*/
#region-sidebar-second #block-block-4,
#region-sidebar-second #block-menu-block-1,
#region-sidebar-second #block-print-print-links,
#region-sidebar-second #block-block-12{
	display: block;
}
#region-sidebar-second #dd-menu{
	display: none;
}