img {
  float: left;
  clear: both;
  padding: 0 10px 10px 0;
}
img.left {
  float: left;
  clear: both;
  padding: 0 10px 10px 0;
}
img.right {
  clear: both;
  float: right;
  padding: 0 0 10px 10px;
}
span.main_left,
span.main_right {
  clear: both;
  width: 140px;
  font-size: 10px;
  color: #999;
  font-style: italic;
}
span.main_left {
  float: left;
  padding: 0 10px 10px 0;
}
span.main_right {
  float: right;
  padding: 0 0 10px 10px;
}
